body {
  background-color: #acbfc7;
  color: #153543;
  padding: 5px;
}

.Title {
  color: #153543;
}

table,
th,
td {
  border: 1px solid #3d6a7e;
}

.patientCard {
  border: 1px solid #3d6a7e;
}

button,
select,
option,
input {
  border-radius: 5px;
  color: #153543;
}

li {
  color: #153543;
  list-style: none;
  font-weight: bold;
}
